<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Full Regression Remote Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b561b0">  <td>20/06/30 17:21:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC004@363a3d15]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Firefox tests-2@352494232</td>   <td></td> </tr>
<tr bgcolor="b561b0">  <td>20/06/30 17:21:52</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC002@6c796cc1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Chrome Test-2@728581946</td>   <td></td> </tr>
<tr bgcolor="b561b0">  <td>20/06/30 17:21:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC001@99407c2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Chrome Test-1@415090191</td>   <td></td> </tr>
<tr bgcolor="b561b0">  <td>20/06/30 17:21:52</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC003@46d567cb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Firefox tests-1@141562273</td>   <td></td> </tr>
<tr bgcolor="63aed1">  <td>20/06/30 17:22:01</td>   <td>8726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DA_LOGIN_TC002.DA_LOGIN_TC002()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC002@6c796cc1]">DA_LOGIN_TC002</td> 
  <td>TestNG-test=Chrome Test-2@728581946</td>   <td></td> </tr>
<tr bgcolor="6ab296">  <td>20/06/30 17:22:01</td>   <td>9442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DA_LOGIN_TC001.DA_LOGIN_TC001()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC001@99407c2]">DA_LOGIN_TC001</td> 
  <td>TestNG-test=Chrome Test-1@415090191</td>   <td></td> </tr>
<tr bgcolor="d0f2b4">  <td>20/06/30 17:22:02</td>   <td>10098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DA_LOGIN_TC004.DA_LOGIN_TC004_SwitchRepoAfterLoggingOut()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC004@363a3d15]">DA_LOGIN_TC004_SwitchRepoAfterLoggingOut</td> 
  <td>TestNG-test=Firefox tests-2@352494232</td>   <td></td> </tr>
<tr bgcolor="b561b0">  <td>20/06/30 17:22:02</td>   <td>10275</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC004@363a3d15]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="687eaf">  <td>20/06/30 17:22:13</td>   <td>21119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DA_LOGIN_TC003.DA_LOGIN_TC003()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC003@46d567cb]">DA_LOGIN_TC003</td> 
  <td>TestNG-test=Firefox tests-1@141562273</td>   <td></td> </tr>
<tr bgcolor="b561b0">  <td>20/06/30 17:22:43</td>   <td>50810</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC001@99407c2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Chrome Test-1@415090191</td>   <td></td> </tr>
<tr bgcolor="b561b0">  <td>20/06/30 17:22:47</td>   <td>54818</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC002@6c796cc1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Chrome Test-2@728581946</td>   <td></td> </tr>
<tr bgcolor="b561b0">  <td>20/06/30 17:22:51</td>   <td>58848</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC003@46d567cb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Firefox tests-1@141562273</td>   <td></td> </tr>
</table>
