<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0b1a0">  <td>20/06/30 18:03:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DA_LOGIN_TC001.DA_LOGIN_TC001()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC001@557eb543]">DA_LOGIN_TC001</td> 
  <td>main@750797656</td>   <td></td> </tr>
<tr bgcolor="a47fea">  <td>20/06/30 18:03:36</td>   <td>-7971</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC001@557eb543]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@750797656</td>   <td></td> </tr>
<tr bgcolor="a47fea">  <td>20/06/30 18:03:54</td>   <td>10093</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC001@557eb543]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@750797656</td>   <td></td> </tr>
</table>
