<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="809771">  <td>20/06/30 17:17:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DA_LOGIN_TC001.DA_LOGIN_TC001()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC001@128c502c]">DA_LOGIN_TC001</td> 
  <td>main@1372483461</td>   <td></td> </tr>
<tr bgcolor="6ab296">  <td>20/06/30 17:17:55</td>   <td>16310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DA_LOGIN_TC002.DA_LOGIN_TC002()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC002@45667d98]">DA_LOGIN_TC002</td> 
  <td>main@1372483461</td>   <td></td> </tr>
<tr bgcolor="8462af">  <td>20/06/30 17:18:21</td>   <td>42988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DA_LOGIN_TC003.DA_LOGIN_TC003()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC003@65eabaab]">DA_LOGIN_TC003</td> 
  <td>main@1372483461</td>   <td></td> </tr>
<tr bgcolor="8caaf3">  <td>20/06/30 17:17:31</td>   <td>-7225</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC001@128c502c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1372483461</td>   <td></td> </tr>
<tr bgcolor="8caaf3">  <td>20/06/30 17:17:51</td>   <td>12936</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC002@45667d98]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1372483461</td>   <td></td> </tr>
<tr bgcolor="8caaf3">  <td>20/06/30 17:18:13</td>   <td>34439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC003@65eabaab]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1372483461</td>   <td></td> </tr>
<tr bgcolor="8caaf3">  <td>20/06/30 17:17:51</td>   <td>12737</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC001@128c502c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1372483461</td>   <td></td> </tr>
<tr bgcolor="8caaf3">  <td>20/06/30 17:18:09</td>   <td>31020</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC002@45667d98]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1372483461</td>   <td></td> </tr>
<tr bgcolor="8caaf3">  <td>20/06/30 17:18:36</td>   <td>57655</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.sele2.testcases.DA_LOGIN.DA_LOGIN_TC003@65eabaab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1372483461</td>   <td></td> </tr>
</table>
